@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  display: flex;
  overflow: hidden;
}
.navbar-nav a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-nav button {
  padding-top: 20px;
  padding-bottom: 25px;
}
